* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100vh;
    margin: 8%;
    font-family: 'Mohave', sans-serif;
    /* background-color: black; */
    background: url(images/nature-2.jpg) center center/cover;
    /* background-color: #0f1423; */
    display: grid;
    justify-content: center;
}

h2 {
    font-size: 3em;
    text-align: center;
    font-weight: 800;
    margin-top: 30px;
    /* color: #F49D1A; */
}
h3 {
    font-size: 18px;
    font-weight: bold;
    color: #a6aF13;
    padding-bottom: 5px;
}

section {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    /* background-color: #fff; */
    width: 800px;
    padding: 8%;
    display: flex;
}

form {
    width: 100%;
}

/* style name and prénom and email and phone number */
section .inp  label {
    font-weight: bold;
    color: #a6aF13;
    font-size: 18px;
    font-weight: bold;
}
section input {
    margin-bottom: 2px;
}
p {
    margin-bottom: 11px;
    height: 13px;
    font-weight: bold;
}

section .inp  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 7%;
}

section .inp input {
    border: none;
    border-bottom: 2px solid #F49D1A;
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-size: 1.1em;
    font-weight: 400;
    color: #fff;
    outline: none;

}

/* style Gener */
#genre {
    margin-top: 14px;
}

#gen-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /* padding: 5%; */
    color: #eee;
}
#gen-grid label:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 12%;

}
#gen-grid label:last-child {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 19%;
}

/* style Groupe */

#Groupe label {
    color: #eee;
}
#Groupe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;   
}
label:hover {
    color: #F49D1A;
}
#Groupe label:hover {
    color: #F49D1A;
}

#Groupe h3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#Groupe #Groupe1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#Groupe #Groupe2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#Groupe #Groupe3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#Groupe #Groupe4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#Groupe #Groupe5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#Groupe #res-group {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

/* ========-- style Club(s) --========== */
select {
    width: 100%;
    /* background-color: #a6aF13; */
    background: transparent;
    color: #eee;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    /* border: 2px solid #a6aF13; */
    border: none;
}
select option {
    /* border-bottom: 2px solid #F49D1A; */
    border: 4px solid #F49D1A;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
}
select option:hover {
    background-color: #a6aF13;
    color: #eee;
}

#button {
    display: grid;
    justify-content: center;
    padding: 2%;
    width: 130px;
    border-radius: 10px;
    background-color: #F49D1A;
    font-size: 18px;
    font-weight: 800;
    color: #eee;
    border: none;
}
#button:hover {
    background-color: #a6aF13;
    color: #eee;
}


/* Responsive designer */
@media only screen and (max-width:500px) {
    section #inp {
        display: block;
    }
}